{% extends 'profile.html' %}
{% load static %}
{% block contenidoQueCambia %}

<div class="text-center text-white">
    <div>
        <br>
        <h2>¡Fatal Error!</h2>
        <p style="margin-bottom: 20px;">You have not been registered correctly</p>
        <h1>{{mensaje}}</h1><br>
        <div class="col-lg-12">
            <div class="main-button">
                <a href="{% url 'home' %}">Home</a>
            </div>
        </div>
    </div>
</div>
<div class="astronaut">
    <link rel="stylesheet" href="{% static 'css/astronauta.css' %}">
    <img src="{% static 'assets/images/dibujos-animados-de-astronauta-espacial.png' %}" alt="" class="src">
</div>
<script src="{% static 'js/astronauta.js' %}"></script>
{% endblock contenidoQueCambia %}